body {
  font-family: monospace;
  margin: 1em auto;
  max-width: 800px;
  padding: 1rem;
}
#menu {
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
}
h2 {
  text-decoration: underline;
}
h3 {
  text-transform: uppercase;
}
section {
  margin-left: 2em;
}

img {
  width: 100%;
}

p.img-descriptive {
  text-align: center;
  margin-bottom: 1.5rem;
}

p.img-descriptive img {
  display: block;
  margin-bottom: 0.8rem;
}

.img-full-width {
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);
  width: auto;
  max-width: 1000%;
}

.img-full-width img {
  width: 100%;
}
